@media (max-width: 768px) {
  .header-container {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 10px 30px;
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}
